html{
	scroll-behavior: smooth;
}
.gradiente{
	/*background-image: linear-gradient(to right,#1E90FF,#00BFFF,#87CEFA,#87CEEB,	#ADD8E6, #fff ); */
}
.naoentra{
	margin-top:6%; 
}
.cor-menu{
	color:; 
}
#sobre{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.linha{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.ano{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	font-weight: 700;
	margin-bottom: 2vh;
}
.maximg{
	height: 100%;
	width: 80%;
}

.counts{
	padding: 1% 0;
}

.counts .count-box{
	width: 100%;
	text-align: center;
}

.counts .count-box span{
	font-size: 48px;
	color: ;
	line-height: 48px;
	display: block;
	font-weight: 700;
	margin-left: 80px;
	margin: auto; 
}

.counts .count-box p{
	padding: 2px 0 0 0;
	font-weight: 600;
	font-size: 14px;
	color: ;
	/*text-shadow: 0.1em 0.1em #000000;*/
}